---
title: "Mock Payment Gateway"
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mock Payment Gateway</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <style>
    body {
      font-family: 'Inter', sans-serif;
    }
  </style>
</head>
<body class="flex items-center justify-center h-screen bg-bg">
  <div class="bg-[#F9F9F9] pb-3 pt-2 px-6 rounded-[10px] shadow-lg w-full max-w-md">
    <header class="flex items-center mb-2">
      <h1 class=" text-2xl text-bg font-light tracking-[-1.07px] px-1.5 rounded-md bg-text">SHOPI</h1>
      <span class="ml-1 -mb-0.5 text-[9.408px] self-end text-bg-gray">0.1</span>
    </header>
    <hr class="bg-transparent h-1 border-t-2 mb-1.5 border-bg border-dashed" />
    <main class="bg-white py-4">
    <section class=" p-4 mb-1.5 text-center flex flex-col py-11 px-14 mx-12 border border-[#F1F1F1] rounded-[10px]">
      <aside class="text-6xl font-black tracking-[-1.6px] space-x-1"><span class="text-[#535353]">₿</span> <span id="amount">2.75</span></aside>
      <small class="text-[11.2px] text-[#D4D4D4] ml-[74%] flex items-center gap-x-0.5 hover:cursor-pointer hover:underline">+fees 
        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="12" viewBox="0 0 11 12" fill="none">
          <g clip-path="url(#clip0_256_575)">
          <path d="M9.08142 2.07758C7.05439 0.0143478 3.76592 0.0122965 1.73637 2.07297C-0.29316 4.13369 -0.295203 7.47679 1.73186 9.54005C3.75887 11.6033 7.04739 11.6053 9.07694 9.54463C11.1064 7.48396 11.1085 4.14081 9.08142 2.07758ZM6.13182 9.15921C6.13182 9.24068 6.06688 9.30665 5.98679 9.30665H4.82652C4.74643 9.30665 4.68148 9.24068 4.68148 9.15921V4.78049C4.68148 4.69902 4.74643 4.63305 4.82652 4.63305H5.98679C6.06688 4.63305 6.13182 4.69899 6.13182 4.78049V9.15921ZM5.40665 4.02114C4.94285 4.02114 4.5655 3.63757 4.5655 3.16605C4.5655 2.69457 4.94283 2.31092 5.40665 2.31092C5.87048 2.31092 6.24781 2.69454 6.24781 3.16605C6.24781 3.63757 5.87043 4.02114 5.40665 4.02114Z" fill="#D5D5D5"/>
          </g>
          <defs>
          <clipPath id="clip0_256_575">
          <rect width="10.3875" height="10.56" fill="white" transform="translate(0.212891 0.528809)"/>
          </clipPath>
          </defs>
          </svg>
      </small>
    </section>
      <aside class=" ml-[18%] flex flex-col justify-center text-[10px] text-[#B5B5B5] font-bold">
        <p class=" text-left">Wallet connected</p>
        <span class="text-[#909090] font-light">0xdfF8c2Db78855748460C4431A6e165eF254a25ec</span>
        <a class="text-right mr-20 justify-end flex items-center gap-x-0.5" href="#" class="underline">Change 
          <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.24941 5.10928V6.85928C7.24941 7.24588 6.93601 7.55928 6.54941 7.55928H2.34941C1.96281 7.55928 1.64941 7.24588 1.64941 6.85928V2.65928C1.64941 2.27268 1.96281 1.95928 2.34941 1.95928H4.09941V2.65928H2.34941V6.85928H6.54941V5.10928H7.24941ZM7.2484 2.45425L4.69589 5.00676L4.20091 4.51179L6.75342 1.95928H5.1484V1.25928H7.9484V4.05928H7.2484V2.45425Z" fill="#B5B5B5"/>
            </svg>
        </a>
      </aside>
    <section class="text-center mt-8 mb-6 flex justify-center gap-x-5 items-center">
      <p class=" text-[33.6px] font-semibold tracking-[-0.96px] text-[#6A6A6A]">Pay with</p>
      <button id="btc" class="flex flex-col justify-center gap-y-1 py-1.5 px-3 bg-[#F6F6F6] rounded-sm border border-transparent transition-colors ease-linear hover:cursor-pointer hover:border-[#B6B6B6] hover:rounded-lg hover:bg-white">
        <img src="/assets/btc.png" class=" size-11" />
        <span class="text-[#6A6A6A] font-semibold text-[11.2px] tracking-tight self-center">BTC</span>
        
      </button>
      <button id="wbtc" class="flex flex-col gap-y-1 py-1.5 px-3 bg-[#F6F6F6] rounded-sm border border-transparent transition-colors ease-linear hover:border-[#B6B6B6] hover:rounded-lg hover:bg-white hover:cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45" fill="none">
          <g clip-path="url(#clip0_256_583)">
          <path d="M36.6276 9.51503L35.3975 10.7451C38.3327 13.955 39.9604 18.1471 39.9604 22.4966C39.9604 26.8462 38.3327 31.0383 35.3975 34.2481L36.6276 35.4782C39.8918 31.9375 41.7041 27.2981 41.7041 22.4823C41.7041 17.6665 39.8918 13.027 36.6276 9.48633V9.51503Z" fill="#5A5564"/>
          <path d="M10.7588 9.62158C13.9686 6.68637 18.1607 5.05865 22.5103 5.05865C26.8598 5.05865 31.0519 6.68637 34.2618 9.62158L35.4919 8.39148C31.9512 5.12723 27.3117 3.31494 22.4959 3.31494C17.6801 3.31494 13.0407 5.12723 9.5 8.39148L10.7588 9.62158Z" fill="#5A5564"/>
          <path d="M9.60644 34.2603C6.67471 31.0512 5.04913 26.8617 5.04913 22.515C5.04913 18.1683 6.67471 13.9788 9.60644 10.7696L8.37635 9.53955C5.11209 13.0802 3.2998 17.7197 3.2998 22.5355C3.2998 27.3513 5.11209 31.9907 8.37635 35.5314L9.60644 34.2603Z" fill="#5A5564"/>
          <path d="M34.2458 35.396C31.0359 38.3312 26.8438 39.9589 22.4943 39.9589C18.1447 39.9589 13.9526 38.3312 10.7428 35.396L9.5127 36.6261C13.0534 39.8903 17.6928 41.7026 22.5086 41.7026C27.3244 41.7026 31.9639 39.8903 35.5046 36.6261L34.2458 35.396Z" fill="#5A5564"/>
          <path d="M30.2643 18.4083C30.0183 15.8415 27.8042 14.9805 25.0037 14.7181V11.1836H22.8387V14.6525C22.2687 14.6525 21.6865 14.6525 21.1084 14.6525V11.1836H18.9598V14.7427H14.5684V17.0593C14.5684 17.0593 16.1675 17.0306 16.1429 17.0593C16.4312 17.0276 16.7206 17.1091 16.9501 17.2865C17.1795 17.464 17.3311 17.7236 17.373 18.0106V27.753C17.3668 27.8542 17.3404 27.9532 17.2953 28.044C17.2503 28.1349 17.1874 28.2157 17.1106 28.2819C17.0351 28.3493 16.9468 28.4008 16.851 28.4332C16.7552 28.4656 16.6538 28.4783 16.5529 28.4705C16.5816 28.4951 14.9784 28.4705 14.9784 28.4705L14.5684 31.0578H18.9188V34.6743H21.0838V31.1111H22.8141V34.6579H24.9831V31.0824C28.6406 30.861 31.191 29.9589 31.5108 26.5352C31.7692 23.7798 30.4735 22.5497 28.4028 22.0535C29.6616 21.4344 30.4407 20.2863 30.2643 18.4083ZM27.2301 26.1087C27.2301 28.7985 22.6214 28.491 21.1535 28.491V23.7182C22.6214 23.7223 27.2301 23.3 27.2301 26.1087ZM26.2255 19.3842C26.2255 21.8444 22.3795 21.5451 21.1576 21.5451V17.207C22.3795 17.207 26.2255 16.8215 26.2255 19.3842Z" fill="#F09242"/>
          <path d="M22.4936 44.9128C18.0636 44.912 13.7334 43.5977 10.0503 41.136C6.3673 38.6744 3.49687 35.1759 1.80198 31.083C0.107085 26.9901 -0.336164 22.4866 0.528276 18.1418C1.39272 13.797 3.52602 9.80606 6.65847 6.67361C9.79092 3.54116 13.7818 1.40785 18.1266 0.543413C22.4714 -0.321027 26.975 0.122222 31.0679 1.81712C35.1608 3.51201 38.6592 6.38244 41.1209 10.0655C43.5825 13.7485 44.8969 18.0787 44.8977 22.5087C44.8982 25.451 44.3191 28.3646 43.1934 31.083C42.0676 33.8015 40.4174 36.2715 38.3369 38.352C36.2563 40.4325 33.7863 42.0828 31.0679 43.2085C28.3494 44.3342 25.4359 44.9133 22.4936 44.9128ZM22.4936 1.85954C18.4122 1.86278 14.4234 3.0759 11.0314 5.34557C7.63933 7.61523 4.99627 10.8396 3.43628 14.611C1.87629 18.3825 1.46939 22.5317 2.26701 26.5344C3.06464 30.537 5.03098 34.2134 7.9175 37.0988C10.804 39.9841 14.4812 41.949 18.4841 42.745C22.4871 43.5411 26.6362 43.1325 30.407 41.571C34.1779 40.0096 37.4011 37.3652 39.6695 33.9723C41.9378 30.5793 43.1493 26.5901 43.1509 22.5087C43.152 19.796 42.6184 17.1097 41.5805 14.6034C40.5427 12.0971 39.021 9.82 37.1024 7.90223C35.1839 5.98446 32.9062 4.46366 30.3995 3.42681C27.8927 2.38996 25.2062 1.85738 22.4936 1.85954Z" fill="#282138"/>
          </g>
          <defs>
          <clipPath id="clip0_256_583">
          <rect x="0.0996094" y="0.112305" width="44.8" height="44.8" rx="2.8" fill="white"/>
          </clipPath>
          </defs>
        </svg>
          <span class="text-[#6A6A6A] font-semibold text-[11.2px] tracking-tight text-center self-center">wBTC</span>
      </button>
    </section>
    <footer class=" flex items-center text-center justify-center gap-x-2 text-[#D4D4D4] tracking-[-0.32] text-[11.2px] mt-12">
      <p>Powered by </p>
      <img src="/assets/garden.png" width="104px" height="32px" />
    </footer>
  </main>
  </div>

  <!-- <body class="flex items-center justify-center h-screen bg-bg">
    <div class="bg-[#F9F9F9] pb-2 pt-2 px-6 rounded-[10px] shadow-lg w-full max-w-md">
      <header class="flex items-center mb-2">
        <h1 class="text-2xl text-bg font-light tracking-[-1.07px] px-1.5 rounded-md bg-text">SHOPI</h1>
        <span class="ml-0.5 text-xs self-end text-bg-gray">0.1</span>
      </header>
      <hr class="bg-transparent h-1 border-t-2 mb-1.5 border-bg border-dashed" />
      <main class="bg-white py-3">
      <section class="p-4 mb-1 text-center flex flex-col py-8 px-10 mx-9 border border-[#F1F1F1] rounded-[10px]">
        <p class="text-[3.9375rem] font-black tracking-[-1.6px]"><span class="text-[#535353]">₿</span> <span id="amount"></span>2.75</p>
        <small class="text-[14px] text-[#D4D4D4] ml-[67%] flex items-center hover:cursor-pointer hover:underline">+fees 
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 8 8" fill="none">
            <g clip-path="url(#clip0_256_575)">
            <path d="M6.92155 1.16843C5.48238 -0.394626 3.14761 -0.39618 1.70665 1.16493C0.26571 2.72609 0.26426 5.25874 1.70345 6.82181C3.1426 8.38487 5.47741 8.38642 6.91837 6.82529C8.35929 5.26417 8.36074 2.73148 6.92155 1.16843ZM4.82737 6.5333C4.82737 6.59502 4.78126 6.645 4.7244 6.645H3.90062C3.84376 6.645 3.79765 6.59502 3.79765 6.5333V3.21609C3.79765 3.15437 3.84376 3.10439 3.90062 3.10439H4.7244C4.78126 3.10439 4.82737 3.15435 4.82737 3.21609V6.5333ZM4.31251 2.64083C3.98322 2.64083 3.7153 2.35024 3.7153 1.99302C3.7153 1.63585 3.9832 1.3452 4.31251 1.3452C4.64182 1.3452 4.90972 1.63583 4.90972 1.99302C4.90972 2.35024 4.64178 2.64083 4.31251 2.64083Z" fill="#D5D5D5"/>
            </g>
            <defs>
            <clipPath id="clip0_256_575">
            <rect width="7.375" height="8" fill="white" transform="translate(0.625 -0.00488281)"/>
            </clipPath>
            </defs>
            </svg>
        </small>
      </section>
        <aside class="flex flex-col justify-center text-[10.5px] text-[#B5B5B5] font-bold">
          <p class="text-center">Wallet connected <span class="text-[#909090] font-light">0xdfF8c2Db78855748460C4431A6e165eF254a25ec</span></p>
          <a class="text-right mr-10" href="#" class="underline">Change</a>
        </aside>
      <section class="text-center mt-4 mb-6 flex justify-center gap-x-4 items-center">
        <p class="text-[2.625rem] font-semibold tracking-[-0.96px] text-[#6A6A6A]">Pay with</p>
        <aside class="flex flex-col justify-center gap-y-1 py-1 px-2 bg-[#F6F6F6] rounded-sm">
          <img src="/assets/btc.png" class="size-11" />
          <span class="text-[#6A6A6A] font-semibold text-[14px] tracking-tight">BTC</span>
          
        </aside>
        <aside class="flex flex-col gap-y-1 py-1 px-2 bg-[#F6F6F6] rounded-sm">
          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 33 33" fill="none">
            <g clip-path="url(#clip0_256_583)">
            <path d="M26.5925 7.6416L25.7139 8.52023C27.8104 10.813 28.9731 13.8073 28.9731 16.9142C28.9731 20.021 27.8104 23.0153 25.7139 25.3081L26.5925 26.1867C28.9241 23.6576 30.2186 20.3438 30.2186 16.9039C30.2186 13.464 28.9241 10.1502 26.5925 7.62109V7.6416Z" fill="#5A5564"/>
            <path d="M8.11496 7.71763C10.4077 5.62106 13.4021 4.4584 16.5089 4.4584C19.6157 4.4584 22.6101 5.62106 24.9028 7.71763L25.7814 6.83899C23.2524 4.50738 19.9385 3.21289 16.4986 3.21289C13.0588 3.21289 9.74489 4.50738 7.21582 6.83899L8.11496 7.71763Z" fill="#5A5564"/>
            <path d="M7.29185 25.3169C5.19776 23.0246 4.03663 20.0321 4.03663 16.9273C4.03663 13.8226 5.19776 10.8301 7.29185 8.53782L6.41321 7.65918C4.0816 10.1882 2.78711 13.5021 2.78711 16.942C2.78711 20.3818 4.0816 23.6957 6.41321 26.2248L7.29185 25.3169Z" fill="#5A5564"/>
            <path d="M24.8911 26.1279C22.5983 28.2245 19.604 29.3872 16.4972 29.3872C13.3903 29.3872 10.396 28.2245 8.10325 26.1279L7.22461 27.0066C9.75368 29.3382 13.0676 30.6327 16.5074 30.6327C19.9473 30.6327 23.2612 29.3382 25.7902 27.0066L24.8911 26.1279Z" fill="#5A5564"/>
            <path d="M22.0474 13.994C21.8716 12.1606 20.2901 11.5456 18.2897 11.3581V8.8335H16.7433V11.3113C16.3362 11.3113 15.9203 11.3113 15.5074 11.3113V8.8335H13.9727V11.3757H10.8359V13.0305C10.8359 13.0305 11.9782 13.01 11.9606 13.0305C12.1665 13.0078 12.3733 13.066 12.5372 13.1927C12.7011 13.3195 12.8094 13.5049 12.8392 13.7099V20.6688C12.8348 20.7411 12.816 20.8117 12.7838 20.8766C12.7516 20.9415 12.7067 20.9993 12.6518 21.0466C12.5979 21.0947 12.5348 21.1315 12.4664 21.1546C12.3979 21.1778 12.3255 21.1868 12.2535 21.1813C12.274 21.1989 11.1288 21.1813 11.1288 21.1813L10.8359 23.0294H13.9434V25.6126H15.4898V23.0674H16.7257V25.6008H18.2751V23.0469C20.8876 22.8888 22.7093 22.2444 22.9377 19.7989C23.1222 17.8308 22.1967 16.9521 20.7177 16.5977C21.6168 16.1555 22.1733 15.3354 22.0474 13.994ZM19.8801 19.4943C19.8801 21.4156 16.5881 21.1959 15.5396 21.1959V17.7868C16.5881 17.7897 19.8801 17.4881 19.8801 19.4943ZM19.1625 14.6911C19.1625 16.4484 16.4153 16.2346 15.5425 16.2346V13.1359C16.4153 13.1359 19.1625 12.8606 19.1625 14.6911Z" fill="#F09242"/>
            <path d="M16.4971 32.9258C13.3328 32.9252 10.2398 31.9864 7.60906 30.2281C4.97832 28.4698 2.92801 25.9709 1.71737 23.0474C0.506735 20.1239 0.190129 16.907 0.807586 13.8036C1.42504 10.7002 2.94883 7.84954 5.1863 5.61208C7.42376 3.37462 10.2744 1.85082 13.3778 1.23337C16.4813 0.61591 19.6981 0.932516 22.6216 2.14316C25.5451 3.35379 28.044 5.4041 29.8023 8.03484C31.5606 10.6656 32.4994 13.7586 32.5 16.9229C32.5004 19.0245 32.0867 21.1056 31.2826 23.0474C30.4786 24.9891 29.2998 26.7534 27.8137 28.2395C26.3276 29.7256 24.5633 30.9043 22.6216 31.7084C20.6799 32.5125 18.5987 32.9262 16.4971 32.9258ZM16.4971 2.17345C13.5818 2.17577 10.7327 3.04229 8.30981 4.66348C5.88691 6.28467 3.99901 8.58776 2.88473 11.2817C1.77045 13.9755 1.47981 16.9393 2.04954 19.7983C2.61927 22.6574 4.0238 25.2833 6.0856 27.3443C8.1474 29.4053 10.7739 30.8088 13.6332 31.3774C16.4924 31.946 19.4561 31.6542 22.1495 30.5388C24.843 29.4235 27.1453 27.5347 28.7656 25.1111C30.3858 22.6876 31.2512 19.8381 31.2523 16.9229C31.2531 14.9852 30.8719 13.0665 30.1306 11.2762C29.3893 9.48603 28.3024 7.8595 26.932 6.48967C25.5616 5.11983 23.9346 4.03354 22.1441 3.29294C20.3536 2.55233 18.4347 2.17191 16.4971 2.17345Z" fill="#282138"/>
            </g>
            <defs>
            <clipPath id="clip0_256_583">
            <rect x="0.5" y="0.925781" width="32" height="32" rx="2" fill="white"/>
            </clipPath>
            </defs>
          </svg>
            <span class="text-[#6A6A6A] font-semibold text-[14px] tracking-tight">BTC</span>
        </aside>
      </section>
      <footer class="flex items-center text-center justify-center gap-x-2 text-[#D4D4D4] tracking-[-0.32] text-[14px] mt-16">
        <p>Powered by </p>
        <img src="/assets/garden.png" width="76px" height="22.921px" />
      </footer>
    </main>
    </div> -->
  <script>
    window.addEventListener('message', function (event) {
      if (event.data.type === 'INITIATE_PAYMENT') {
        document.getElementById('amount').textContent = event.data.amount;
      }
    });
    const btcButton = document.querySelector('#btc');
    const wbtcButton = document.querySelector('#wbtc')
    btcButton.addEventListener('click',()=>{
      handlePayment()
    })
    wbtcButton.addEventListener('click',()=>{
      handlePayment()
    })

    function handlePayment() {
      window.parent.postMessage({ type: 'PAYMENT_SUCCESS', data: { message: 'Payment successful' } }, '*');
    }
  </script>
</body>
</html>
